.common{
    margin-left: 25%;
    margin-right: 25%;
}
body{
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.top_banner{
    background-color: aquamarine;
}
.nav_icon{
    width: 7rem;
}
.main_nav{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.main_nav_content{
    list-style:none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.main_nav_content_auth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
}
.main_nav_content_text{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.main_nav_hr{
    position: relative;
    width: 100%;
}
.main_nav_content_icon{
    padding-left: 2rem;
}
.sub_nav_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.sub_nav_content_1{
    list-style:none;
    display: flex;
    padding-left: 0;
}
.sub_nav_content_1_text{
    padding-left: 2rem;
}
.sub_nav_content_2_text{
    padding-left: 0.5rem;
}
.sub_nav_detail_contents{
    list-style:none;
    display: flex;
    padding-left: 0;
}
.sub_nav_detail_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    flex-direction: column;
}
.sub_nav_detail_h4{
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}
.sub_nav_detail_text{
    font-size: 0.8rem;
    padding-top: 0.5rem;
}
.updown {
    border: 0.1px solid black;
    width: 0.1px;
    height:35vh;
    margin-left: 3rem;
    margin-right: 1rem;
}
.login_area{
    margin-top: 2rem;
    width: 100%;
}
.login_area_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    width: 100%;

}
.login_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    flex-direction: column;
    width: 50%;
}
.login_select_btn_f{
 margin-left: 1rem;
}
.login_select_btn{
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
    padding: 0;
    border: 0;
    margin-right: 0.1rem;
    cursor:pointer;

}
.login_btns{
    display: flex;
    width: 80%;
}
.login_nav_hr1{
    width: 90%;
    text-align:left;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.login_nav_hr2{
    width: 90%;
    text-align:left;
    margin: 0;
    margin-left: 1rem;
    margin-top: 2rem;
}
.phone_login_banner{
    width: 20rem;
    
}
.login_content_box{
    list-style:none;
    display: flex;
    padding: 0;
    width: 60%;
}
.login_main_area{
    list-style:none;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 11.5rem;
    justify-content: space-between;
}
.login_top_message{
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.login_input{
    width: 12rem;
    height: 1.5rem;
}
.login_btn{
    width: 12.5rem;
    height: 2rem;
    background-color: red;
    border: 0;
    cursor:pointer;

}
.find_acc_area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}
.find_text1{
    font-size: 0.5rem;
}
.find_links{
    display: flex;
}
.remember_me_area{
    display: flex;
    align-items: center;
}
.naver_login_btn{
    width: 12.5rem;
    cursor:pointer;
}
.login_select_on{
    background-color: red;
}
.ticket_page_btn{
    height: 1.5rem;
    margin-right: 0.4rem;
}
.ticket_page_btns{
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
}
.ticket_content_area{
    display: flex;
    margin-top: 1rem;
    height: 32rem;
}
.ticket_img{
    width: 8.5rem;
    height: 17rem;
}
.ticket_content{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.ticket_content_l{
    margin-left: 25%;
}
.ticket_content_m{
    border-left: 0.15rem solid;
    height: 30rem;
    width: 15rem;
    text-align: center;
}
.ticket_content_t{
    margin: 0;
    background-color: gray;
    padding: 0.3rem;
    font-size: 0.9rem;
}
.ticket_m_content{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 28.25rem;
    

}
.ticket_m_btns{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.ticket_m_btn{
    background-color: white;
    border: 0.1rem solid;
    height: 1.5rem;
    cursor:pointer;

}
.ticket_m_btn_t{
    font-size: 0.75rem;
    padding: 0.5rem 0.5rem;
}
.ticket_m_btn_on{
    border-bottom: none;
}
.m_sort{
    margin-top: 0.5rem;
    display: flex;
}
.m_sort_t{
    font-size: 0.7rem;
    margin-right: 0.5rem;
}
.m_sort_t_f{
    margin-left: 1.5rem;
}
.m_sort_hr{
    text-align: left;
    margin-left: 1rem;
    width: 12.7rem;
}
.ticket_m_n_area{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.ticket_m_n{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    cursor:pointer;
}
.move_n{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.ticket_m_n_on{
    background-color: gray;
    margin-right: 1.2rem;
}
.location_area{
    display: flex;
    margin-top: 1rem;
    align-items: baseline;
}
.city_box{
    display: flex;
    flex-direction: column;
}
.city_t{
    margin-left: 0.8rem;
    width: 6rem;
    background-color: gray;
    text-align: right;
    padding-right: 0.3rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-size: 0.8rem;
    cursor:pointer;
    margin-bottom: 0.1rem;
}
.city_t_on{
    background-color: white;
}
.city_in{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    height: 24.5rem;
    overflow: auto;
}
.city_in_t{
    margin-bottom: 0.7rem;
    cursor:pointer;
}
.ticket_content_d{
    border-left: 0.15rem solid;
    height: 30rem;
    width: 5rem;
    text-align: center;
}
.date_area_header{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.year{
    font-size: 0.9rem;
}
.month{
    font-size: 2rem;
}
.date_box{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    cursor:pointer;

}
.dow{
    margin-left: 1.5rem;
    font-size: 0.8rem;
}
.day{
    margin-left: 1rem;
}
.dow_on{
    background-color: gray;
}
