.common{
    margin-left: 25%;
    margin-right: 25%;
}
body{
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
.top_banner{
    background-color: aquamarine;
}
.nav_icon{
    width: 7rem;
}
.main_nav{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 1rem;
}
.main_nav_content{
    list-style:none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
.main_nav_content_auth{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
}
.main_nav_content_text{
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.main_nav_hr{
    position: relative;
    width: 100%;
}
.main_nav_content_icon{
    padding-left: 2rem;
}
.sub_nav_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.sub_nav_content_1{
    list-style:none;
    display: flex;
    padding-left: 0;
}
.sub_nav_content_1_text{
    padding-left: 2rem;
}
.sub_nav_content_2_text{
    padding-left: 0.5rem;
}
.sub_nav_detail_contents{
    list-style:none;
    display: flex;
    padding-left: 0;
}
.sub_nav_detail_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    flex-direction: column;
}
.sub_nav_detail_h4{
    margin-top: 0.5em;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}
.sub_nav_detail_text{
    font-size: 0.8rem;
    padding-top: 0.5rem;
}
.updown {
    border: 0.1px solid black;
    width: 0.1px;
    height:35vh;
    margin-left: 3rem;
    margin-right: 1rem;
}
.login_area{
    margin-top: 2rem;
    width: 100%;
}
.login_area_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    width: 100%;

}
.login_content{
    list-style:none;
    display: flex;
    padding-left: 0;
    flex-direction: column;
    width: 50%;
}
.login_select_btn_f{
 margin-left: 1rem;
}
.login_select_btn{
    width: 7rem;
    height: 2rem;
    font-size: 0.7rem;
    padding: 0;
    border: 0;
    margin-right: 0.1rem;
    cursor:pointer;

}
.login_btns{
    display: flex;
    width: 80%;
}
.login_nav_hr1{
    width: 90%;
    text-align:left;
    margin: 0;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.login_nav_hr2{
    width: 90%;
    text-align:left;
    margin: 0;
    margin-left: 1rem;
    margin-top: 2rem;
}
.phone_login_banner{
    width: 20rem;
    
}
.login_content_box{
    list-style:none;
    display: flex;
    padding: 0;
    width: 60%;
}
.login_main_area{
    list-style:none;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    height: 8rem;
    justify-content: space-between;
}
.login_top_message{
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}
.login_input{
    width: 12rem;
    height: 1.5rem;
}
.login_btn{
    width: 12.5rem;
    height: 2rem;
    background-color: red;
    border: 0;
}